body {
    margin: 0;
    padding: 15px;
    background: #f2f3f5;
}

.layui-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.layui-input {
    width: 360px;
    height: 38px;
}

#from-edit,
#from-add {
    padding-top: 20px;
    padding-right: 30px;
}